html, body {
    height: 100%; 
    font-family: 'Roboto', sans-serif;
} 

body::after {
  background-image: url("/background-img.jpg");
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 15px;
}