.help {
    padding-bottom: 212px;
    padding-top: 208px;
    overflow: hidden;

    &__title {
        width: 535px;
        font-size: 60px;
        line-height: 80px;
        color: $text-color;
        position: relative;
        margin-bottom: 16px;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__img {
        position: absolute;
        display: block;
        max-width: 677px;
        height: 850px;
        top: 143px;
    }

    .help--title::after {
        content: "";
        position: absolute;
        width: 140px;
        display: block;
        border-top: 4px solid $primary;
        top: -25px;
        border-radius: 99999px;
    }

    &__description {
        margin-bottom: 43px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: $text;
        margin-right: 56px;
    }

    &__wrap {
        display: flex;
    }
}

.humans {
    padding-top: 134px;
    padding-bottom: 74px;
    background-color: #fef9f2;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        text-align: right;
        display: block;
        margin-bottom: 10px;
    }

    &__title-colored {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 80px;
        color: $primary;
        margin-left: 9px;
    }

    &__description {
        display: block;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: $text;
    }
}

.about {
    background-color: #fef9f2;
    padding-top: 198px;
    padding-bottom: 200px;
    overflow: hidden;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        position: relative;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 20px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #dad1ca;
            width: 1220px;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 240px;
        }
    }

    &__block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 584px;
    }

    &__description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 58px;
        margin-bottom: 17px;
    }

    &__info {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        width: 576px;
        margin-bottom: 52px;
    }

    &__btn {
        cursor: pointer;
        vertical-align: super;
        text-align: center;
        width: 180px;
        height: 71px;
        border-radius: 10px;
        background-color: #ff9c08;
        color: #090909;
        border: none;
        font-family: "DM Sans";
        font-size: 18px;
        transition-duration: 0.3s;
        position: relative;
        margin-right: 28px;
    }

    &__txt {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #6e6e6e;
        margin-left: 40px;
        margin-bottom: 21px;
    }

    &__item {
        display: flex;
        margin-left: 36px;
        margin-bottom: 20px;
    }

    &__button {
        cursor: pointer;
        width: 153px;
        height: 73px;
        font-family: "DM Sans";
        font-size: 17px;
        text-align: center;
        background: #ffffff;
        border: 1px solid #f0ece8;
        box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
        border-radius: 10px;
        vertical-align: top;
    }

    &__content {
        position: relative;
        margin-top: 49px;
        min-width: 365px;
        min-height: 73px;
    }

    &__img {
        display: inline;
        margin-right: 16px;
        object-fit: contain;
    }

    .child {
        &__img {
            margin-bottom: 32px;
        }

        &__two {
            display: block;
            margin-left: 28px;
            margin-top: 117px;
            width: 560px;
            height: 749px;
            margin-bottom: 50px;
        }
    }

    .confirmed {
        vertical-align: top;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #090909;
    }
}

.results {
    background-color: $background;
    padding-top: 213px;
    padding-bottom: 200px;
    overflow: hidden;

    &__inner {
        display: flex;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 520px;
        gap: 29px 80px;
        margin-bottom: 72px;
    }

    &__title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 20px;
    }

    &__description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 58px;
        color: #090909;
    }

    &__wrap {
        margin-top: 90px;
    }

    &__item {
        display: flex;
        flex: 4;
    }

    &__desc {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 44px;
        color: #090909;
        padding-left: 16px;
    }

    &__txt {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $text;
        padding-top: 9px;
        display: block;
    }

    &__button {
        cursor: pointer;
        width: 180px;
        height: 71px;
        border: none;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #090909;
        background: #ff9c08;
        border-radius: 10px;
    }

    .results--btn:hover {
        background-color: black;
        color: white;
    }

    &__img {
        max-width: 584px;
        height: 688px;
        margin-left: 116px;
    }
}

.video {
    background-color: #ffd4a4;
    padding-top: 197px;
    padding-bottom: 319px;
    overflow: hidden;

    &__block {
        margin-bottom: 63px;
    }

    &__title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #090909;
        margin-bottom: 20px;
    }

    &__description {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 58px;
        text-align: center;
        color: #090909;
        margin-bottom: 38px;
    }

    &__sub-title {
        font-size: 24px;
        line-height: 34px;
        color: #090909;
        margin-bottom: 11px;
    }

    &__sub-desc {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #6e6e6e;
    }

    &__wrap {
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 1220px;
        height: 687px;
        border-radius: 57px;
        margin-bottom: 80px;
        margin-top: -315px;
        object-fit: cover;
    }

    &__inner {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
    }
}

.comunities {
    padding-top: 198px;
    padding-bottom: 200px;
    overflow: hidden;

    &__title {
        position: relative;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #ff9c08;
        margin-bottom: 20px;
    }

    .comunities__title::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #dad1ca;
        width: 1220px;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 198px;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, minmax(110px, 1fr));
        gap: 28px;
        margin-bottom: 199px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__desc {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 58px;
        color: #090909;
        margin-bottom: 62px;
    }

    &__item {
        width: 388px;
        height: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        border: 1px solid #f0ece8;
        box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
        border-radius: 12px;
        overflow: hidden;
    }

    &__img {
        height: 177px;
        margin-bottom: 18px;
    }

    &__header {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #090909;
        margin-bottom: 17px;
    }

    &__description {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #6e6e6e;
        text-align: center;
    }

    &__button {
        cursor: pointer;
        width: 180px;
        height: 71px;
        color: white;
        background: #090909;
        border-radius: 10px;
        margin-right: 28px;
    }
}

.donate {
    display: flex;
    align-items: center;
    z-index: -2;
    margin-bottom: -72px;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/frame\ down.jpg);
        width: 100%;
        height: 100%;
        z-index: 22;
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 58px;
        color: #090909;
        width: 640px;
    }

    &__wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 78;
    }

    &__block {
        display: flex;
    }
}

.testimonials {
    background-color: #fef9f2;
    z-index: 55;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;

    &__inner {
        display: flex;
        align-items: flex-end;
    }

    &__img {
        display: block;
        position: relative;
        max-width: 100%;
        height: 636px;
        margin-top: 200px;
        margin-right: 108px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 388px;
        height: 298px;
        background-color: #fff;
        border: 1px solid #f0ece8;
        border: 1px solid #f0ece8;
        box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
        border-radius: 12px;
        margin-top: -236px;
        left: 6%;
        margin-bottom: 65px;
        margin-left: 229px;
        padding: 41px 40px 21px 46px;
    }

    &__item {
        &:nth-child(3) {
            margin-bottom: 28px;
        }
    }

    &__description {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #6e6e6e;
        margin-bottom: 17px;
    }

    &__name {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: #090909;
        margin-bottom: 15px;
        margin-right: 200px;
    }

    &__city {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #989898;
        margin-right: 125px;
    }

    &__title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #ff9c08;
        margin-bottom: 20px;
    }

    &__desc {
        font-size: 42px;
        line-height: 58px;
        color: #090909;
        margin-bottom: 21px;
    }

    &__sub-desc {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        color: #6e6e6e;
        margin-bottom: 20px;
    }

    &__image {
        display: inline;
        padding-right: 17px;
        padding-bottom: 16px;
    }

    &__text {
        vertical-align: top;
        font-family: "DM Sans";
        font-style: normal;
        font-size: 20px;
        line-height: 22px;
        color: #090909;
    }
}

.resources {
    background-color: $background;
    padding-top: 198px;
    padding-bottom: 199px;
    overflow: hidden;

    &__title {
        display: block;
        text-align: center;
        margin-bottom: 17px;
        font-family: "DM Sans";
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #ff9c08;
    }

    &__description {
        display: block;
        text-align: center;
        font-size: 42px;
        line-height: 58px;
        color: #090909;
        margin-bottom: 49px;
    }

    &__desc {
        font-size: 24px;
        margin-top: 17px;
        margin-bottom: 29px;
        color: #090909;
    }

    &__link {
        font-family: "DM Sans";
        font-style: normal;
    }

    &__box,
    &__wrap {
        display: flex;
    }

    &__block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        width: 548px;
        height: 300px;
        background-color: #ffffff;
        border: 1px solid #f0ece8;
        box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
        border-radius: 12px;
        padding-left: 49px;
        margin-top: -78px;
        margin-bottom: 65px;
    }

    &__block-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 548px;
        height: 300px;
        background-color: #ffffff;
        border: 1px solid #f0ece8;
        box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.08);
        border-radius: 12px;
        padding-left: 49px;
        margin-top: -78px;
        left: 6%;
        margin-bottom: 65px;
        margin-left: -9px;
    }

    &__img {
        display: block;
        position: relative;
        max-width: 596px;
        height: 335px;
        margin-left: 28px;
    }

    &__sup-title {
        display: block;
        padding-top: 13px;
        text-align: center;
        width: 103px;
        height: 48px;
        display: block;
        background-color: #ffffff;
        border: 1px solid #f0ece8;
        border-radius: 6px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #090909;
        margin-bottom: 18px;
    }

    &__date {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #6e6e6e;
        padding-left: 16px;
        padding-top: 13px;
    }

    &__warp {
        display: flex;
        justify-content: center;
    }
}

// Pop up video
.clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.clip video {
    width: 90%;
    outline: none;
}

.clip .close {
    position: absolute;
    top: 19px;
    right: 21px;
    font-size: 62px;
}

.clip.active {
    transition-delay: 0.2s;
    transform: translate(-50%, -50%) scale(1);
}

.video__btn.active .play {
    box-shadow: 0 0 0 1000vh #6e6e6e;
}

.video__btn .play {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    top: 0;
    left: 42%;
    top: 108px;
}

.video__btn .play::before {
    position: absolute;
    width: 41px;
    height: 46px;
    content: "";
    background-image: url(../images/play.png);
    top: 64px;
    left: 68px;
    right: 9px;
    transform: translateX(5px);
}

.btn {
    cursor: pointer;
    vertical-align: super;
    text-align: center;
    width: 180px;
    height: 71px;
    border-radius: 10px;
    background-color: #ff9c08;
    color: #090909;
    border: none;
    font-family: "DM Sans";
    font-size: 18px;
    margin-right: 28px;
    transition: all 0.3s;

    &:hover {
        background: #090909;
        color: white;
    }
}

.button {
    cursor: pointer;
    width: 225px;
    height: 71px;
    background: #ffffff;
    border: 1px solid #f0ece8;
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.04);
    border-radius: 10px;
}
